# Assignment 2: Data analysis - results and covid_data

Ali Baligh-900211718

# Content

# 1. Results data description

# 2.Variables Description

# 3.Covid_data data description

# 4. Variables Description

# 5. Part 1a : probability of winning or losing

# 6. Part 1b: Comparing confidence intervals.

# 7. Part 1c: Graphs

# 8. Part 1d: Description of the results.

# 9. Part 2a:  reported number of confirmed cases and deaths.

# 10. Part 2b: ratio between the confirmed cases and deaths.

# 11. Part 2c: 2020 vs 2021

# 12. Part 2d: Description of the results.

# Results data description

In this python notebook, I will analyze the probability of winning/losing of the countries in the different tournaments  in the dataset results.csv by using statistics, visuals, and graphs. I will study the probabilities in terms of several factors (playing at home/away). I would also compare confidence intervals and draw the corresponding graphs. This data is includes 43,170 results of international football matches starting from the very first official match in 1872 up to 2019. The matches range from FIFA World Cup to FIFI Wild Cup to regular friendly matches. The matches are strictly men’s full internationals and the data does not include Olympic Games or matches where at least one of the teams was the nation’s
B-team, U-23 or a league select team.

# Variables Description

date - date of the match

• home_team - the name of the home team

• away_team - the name of the away team

• home_score - full-time home team score including extra time, not including penaltyshootouts

• away_score - full-time away team score including extra time, not including penaltyshootouts

• tournament - the name of the tournament

• city - the name of the city/town/administrative unit where the match was played

• country - the name of the country where the match was played

• neutral - TRUE/FALSE column indicating whether the match was played at a neutral venue

# Covid_data data description

In this python notebook, I will analyze the daily reported number of cases and deaths, the case fatality rate (the ratio between deaths and cases) from COVID-19 by using statistics, visuals, and graphs. I will Compare between 2020 and 2021 and compare between regions, income, and continents). The dataset in covid_data.csv includes the records of two years 2020 and 2021 in the countries affected by the COVID-19 pandemic.

# Variables Description

• date- the date

• iso3c- the country code

• country- country name

• income- Income group according WB classification

• region- Geographical region according WB classification

• continent- the name of the continent

• dcases- the reported daily cases

• ddeaths- the reported daily deaths

• population- population size of the country in 2019

• weekdays- weekdays

• month- months

# Part 1a: probability of winning or losing

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('results.csv',encoding='latin-1')

In [7]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
43183,2/1/2022,Suriname,Guyana,2,1,Friendly,Paramaribo,Suriname,False
43184,2/2/2022,Burkina Faso,Senegal,1,3,African Cup of Nations,YaoundÃ©,Cameroon,True
43185,2/3/2022,Cameroon,Egypt,0,0,African Cup of Nations,YaoundÃ©,Cameroon,False
43186,2/5/2022,Cameroon,Burkina Faso,3,3,African Cup of Nations,YaoundÃ©,Cameroon,False
43187,2/6/2022,Senegal,Egypt,0,0,African Cup of Nations,YaoundÃ©,Cameroon,True